<!--
    Using materialize for the css class
-->
<h1 class="center">List of the football club</h1>

<div class="container">
    <div class="row">
        <div *ngFor="let club of footballClubList" class="col m3 s6">
            <div class="card horizontal">
                <div class="card-image">
                    <img [src]="club.picture" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ club.name }}</p>
                        <p>
                            <small>{{ club.created }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
