<div *ngIf="footballClub" class="row">
	<div class="col s12 m8 offset-m2">
		<h2 class="header center">{{ footballClub.name }}</h2>
		<div class="card horizontal hoverable">
			<div class="card-image">
				<img [src]="footballClub.picture" />
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<table class="bordered striped">
						<tbody>
							<tr>
								<td>Name</td>
								<td>
									<strong>{{ footballClub.name }}</strong>
								</td>
							</tr>
							<tr>
								<td>Players</td>
								<td>
									<span
										*ngFor="
											let player of footballClub.players
										"
										>{{ player }}<br />
									</span>
								</td>
							</tr>
							<tr>
								<td>League</td>
								<td>
									<span
										*ngFor="
											let league of footballClub.leagues
										"
										class="{{
											league | footballClubLeagueColor
										}}"
									>
										{{ league }}</span
									>
								</td>
							</tr>
							<tr>
								<td>Creation date</td>
								<td>
									<em>{{
										footballClub.created
											| date : "dd/MM/yyyy"
									}}</em>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-action">
					<a (click)="goToFootballClubList()">Back</a>
					<a (click)="goToEditFootballCLub(footballClub)">Edit</a>
				</div>
			</div>
		</div>
	</div>
</div>
<h4 *ngIf="!footballClub" class="center">No football club to display !</h4>
